/**
 * @author felixrowen
 * @email felixroo@gmail.com
 * @create date 2019-10-07 03:30:22
 * @modify date 2019-10-07 03:30:22
 */

body {
  background-color: #333;
}

.box {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 200px;
  /* transition-property: background, border-radius, transform; */
  /* transition-duration: 1s, 2s, 3s; */
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s, 1s;
  transition-timing-function: linear;
}

.box:hover {
  background: red;
  border-radius: 50%; 
  transform: rotateY(180deg)
}